@import url('../../../config-scss/variables.scss');

:host {
    main {
        padding-top: 2.813rem;
    }

    .pokemon__name {
        padding: 0 1.875rem 0.5rem 0;

        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        & > h1 {
            font-size: 2em;
            font-weight: 400;
            text-transform: capitalize;
        }

        & > h2 {
            position: absolute;
            top: 8.2rem;
            font-weight: 100;
            font-size: 3.75em;

            color: var(--japanese-name);
        }
    
    }

    .container {
        position: relative;
    }

    .pokemon__img {
        max-width: 8.125rem;
        position: absolute;
        top: -6.25rem;
        left: 3.125rem;
    }

    .card {
        background-color: var(--white);
        color: black;
        // height: 72vh;

        border-radius: 3rem;

        & > .pokemon__info {
            padding: 4.063rem 2.5rem 3rem 2.5rem;
    
            & > .title {
                color: var(--secondary-color);
    
                padding: 0 0 1.125rem 0;
    
                font-size: 2em;
                font-weight: 700;
                text-transform: capitalize;
                text-decoration: underline;
                font-style: italic;
            }
    
            & .stats {
                font-size: 1.1em;
    
                display: flex;
                justify-content: space-between;
    
                padding: 0 0 0.5rem 0;
            }
    
            & > .button {
                background-color: var(--secondary-color);
    
                color: var(--white);
                font-size: 1em;
                font-weight: 400;
                text-transform: capitalize;
    
                border-radius: 0.7rem;

                margin: 2.5rem auto 0 auto;
                padding: 1.25rem calc(53% - 2.038rem);
    
                border: none;
                outline: none;
    
                &:hover {
                    cursor: pointer;
                }
            }
        }
       
    }

    @media (max-width: 550px) {
        .pokemon__name {
            & > h1 {
                font-size: 1.6em;
            }
    
            & > h2 {
                top: 9rem;
                font-size: 2.75em;
            }
        }

        .pokemon__img {
            max-width: 6.5rem;
            top: -5.25rem;
        }

        .card {

            & > .pokemon__info {
                padding: 2.5rem 2.5rem 3rem 2.5rem;
            }
        }
    }


    @media (max-width: 450px) {
        .pokemon__name {
            align-items: end;
            & > h1 {
                font-size: 1.4em;
            }
    
            & > h2 {
                top: 9.3rem;
                font-size: 2em;
            }
        }

        .pokemon__img {
            max-width: 5.8rem;
            top: -4.3rem;
            left: 1rem;
        }

        .card {
            & .title {
                font-size: 1.5em;
            }
        }
    }
}
