<app-poke-header></app-poke-header>

<main>
    <section class="pokemon__name">
        <h2>pokemon</h2>
    </section>
    <section class="container">
        <img src="../../../assets/img.png" class="pokemon__img">
        <article class="card">
            <div class="pokemon__info">
                <h2 class="title">estatísticas</h2>
                <ul>
                    <li class="stats">
                        hp <strong>xx</strong>
                    </li>
                    <li class="stats">
                        attack <strong>xx</strong>
                    </li>
                    <li class="stats">
                        defense <strong>xx</strong>
                    </li>
                    <li class="stats">
                        special attack <strong>xx</strong>
                    </li>
                    <li class="stats">
                        special defense <strong>xx</strong>
                    </li>
                    <li class="stats">
                        speed <strong>xx</strong>
                    </li>
                </ul>
                <button class="button" routerLink="/">voltar</button>
            </div>
        </article>
    </section>
</main>