<app-poke-header></app-poke-header>

<main *ngIf="pokemon[0] && pokemon[1]">
    <section class="pokemon__name">
        <h1>{{ pokemon[0].name }}</h1>
        <h2>{{ pokemon[1].names[0].name }}</h2>
    </section>
    <section class="container">
        <img [src]="pokemon[0].sprites.other.dream_world.front_default" 
        [alt]="pokemon[0].name" 
        class="pokemon__img">
        <article class="card">
            <div class="pokemon__info">
                <h2 class="title">estatísticas</h2>
                <ul>
                    <li class="stats">
                        hp 
                        <strong>
                            {{pokemon[0].stats[0].base_stat}}
                        </strong>
                    </li>
                    <li class="stats">
                        attack 
                        <strong>
                            {{pokemon[0].stats[1].base_stat}}
                        </strong>
                    </li>
                    <li class="stats">
                        defense 
                        <strong>
                            {{pokemon[0].stats[2].base_stat}}
                        </strong>
                    </li>
                    <li class="stats">
                        special attack 
                        <strong>
                            {{pokemon[0].stats[3].base_stat}}
                        </strong>
                    </li>
                    <li class="stats">
                        special defense 
                        <strong>
                            {{pokemon[0].stats[4].base_stat}}
                        </strong>
                    </li>
                    <li class="stats">
                        speed 
                        <strong>
                            {{pokemon[0].stats[5].base_stat}}
                        </strong>
                    </li>
                </ul>
                <button class="button" routerLink="/">voltar</button>
            </div>
        </article>
    </section>
</main>