@import '../../../config-scss/variables.scss';

$padding: 1.25rem;
:host {
    .container {
        padding: $padding 0;
        display: flex;

        justify-content: space-between;

        flex-wrap: wrap;
    }
    
    .card {
        display: flex;
        justify-content: space-between;

        text-decoration: none;

        width: calc(49% - 2.4rem);
        height: 7.313rem;

        margin-bottom: 0.625rem;
        padding: $padding;

        border-radius: 0.625rem;

        background-color: var(--white);

        &:hover {
            cursor: pointer;
        }
    }

    .pokemon__info {
        color: var(--primary-color);

        & > .pokemon__name {
            font-size: 1.3em;
            font-weight: 700;
            font-style: italic;

            text-transform: capitalize;

            padding: 0 0 0.625rem 0;
        }

        & .pokemon__type {
            width: 3.44rem;
            padding: 0.125rem;
            border-radius: 0.5rem;
            margin-bottom: 0.313rem;

            text-align: center;
            font-weight: 400;
            font-size: 0.8em;

            background-color: var(--gray);
        }
    }

    .pokemon__container {
        position: relative;

        background: url('../../../assets/bg-pokemon.svg');
        background-position: center;
        background-repeat: no-repeat;        
        
        width: 6.875rem; 
        
        & > .pokemon__img {
            height: 5rem;
			width: 5rem;
            position: absolute;
            transform: translate(12px, 11px);
        }
    }
}


@media (max-width: 550px) {
    .container {
        justify-content: flex-start;
        flex-wrap: nowrap;
    
        & > .card {
            width: calc(100% - 2.108rem);
            padding: $padding 2.108rem;
        }
    }
}


@media (max-width: 400px) {
    .container {
        & > .card {
            width: 100%;
            padding: $padding;
        }
    }
}