<app-poke-search (sharedName)="searchName($event)"></app-poke-search>

<section class="container">
    <ng-template ngFor let-pokemon [ngForOf]="getAllPokemons" *ngIf="!apiError">
        <a [routerLink]="['details', pokemon.status.id]" class="card" *ngIf="pokemon.status">
            <article class="pokemon__info">
                <h2 class="pokemon__name">{{ pokemon.name }}</h2>
                <ul>
                    <li class="pokemon__type" 
                    *ngFor="let types of pokemon.status.types">{{ types.type.name }}</li>
                </ul>
            </article>
            <article class="pokemon__container">
                <img 
                [src]="pokemon.status.sprites.other.dream_world.front_default" 
                [alt]="pokemon.name" class="pokemon__img">
            </article>
        </a>
    </ng-template>
    
    <!-- img error -->
    <img src="../../../assets/error.png" 
    alt="Erro API" class="error__img" *ngIf="apiError">
</section>
