@use './config-scss/variables.scss';
@use './config-scss/reset.scss';
@use './config-scss/rem-calc.scss';

html {
    background-color: var(--primary-color);
    color: white;
    font-family: 'Roboto', sans-serif;
}

main {
    width: rem-calc(600);
    margin: 0 auto;
}